[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "chem/themes/educenter"]
	path = chem/themes/educenter
	url = https://github.com/themefisher/educenter-hugo
[submodule "chem/themes/educenter-hugo"]
	path = chem/themes/educenter-hugo
	url = https://github.com/themefisher/educenter-hugo
